#calendar-view {
    position: fixed;
    top: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
    #work-area {
        #projects-container {
            position: fixed;
            top: 70px;
            bottom: 0px;
            left: 0px;
            width: 300px;
        }
        
        #calendar-container {
            position: fixed;
            top: 70px !important;
            bottom: 0px;
            left: 300px !important;
            right: 10px;
        }
    }
}