#projects-view {
    
    button#create_project {
        display: block;
        position: fixed;
        top: 60px;
        left: 10px;
        width: 280px;
        height: 40px;
        
        background-color: #d5d5d5;
        color: black;
        border: none;
    }
    
    #projects_list {
        display: block;
        position: fixed;
        top: 110px;
        bottom: 0px;
        left: 0px;
        width: 300px;
        
        padding: 0px;
        margin: 0px;
        border-top: 1px solid  #d5d5d5;
        
        overflow-y: auto;
        
        li {
            display: block;
            border-bottom: 1px solid #ccc;
            height: 50px;
            padding: 5px;
        }
    }
}