#projects-view {
    
    button#create_project {
        display: block;
        position: fixed;
        top: 60px;
        left: 10px;
        width: 280px;
        height: 40px;
        
        background-color: #e74c3c;
        color: white;
        border: none;
    }
    
    #projects_list {
        display: block;
        position: fixed;
        top: 110px;
        bottom: 0px;
        left: 0px;
        width: 300px;
        
        padding: 0px;
        margin: 0px;
        border-top: 1px solid #ecf0f1;
        
        overflow-y: auto;
        
        li {
            display: block;
            border-bottom: 1px solid #ecf0f1;
            height: 50px;
            padding: 5px;
            -webkit-transition: background-color 0.8s ease;
            
            
            &:hover {
                background-color: #ecf0f1;
            }
        }
    }
}