@import "modal.less";
@import "home.less";
@import "scrollbars.less";

body {
    margin: 0px;
    padding: 0px;
}

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    
    height: 50px;
    width: 100%;
    
    margin: 0px;
    padding: 0px;
    
    background: #eee;
}

.content-container {
    display: block;
    position: fixed;
    
    top: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
    padding: 5px;
}