@import "modal.less";
@import "projects.less";
@import "tasks.less";
@import "content.less";
@import "scrollbars.less";

@font-face {
	font-family: 'typicons';
	src:url('../fonts/typicons/typicons.eot');
	src:url('../fonts/typicons/typicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/typicons/typicons.ttf') format('truetype'),
		url('../fonts/typicons/typicons.woff') format('woff'),
		url('../fonts/typicons/typicons.svg#typicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body, .perspective {
    margin: 0px;
    padding: 0px;
	width: 100%;
	height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.perspective {
    background: #aaa;
    position: relative;
    
    &.modalview {
        position: fixed;
        -webkit-perspective: 1500px;
        perspective: 1500px;
        
        .container {
            position: absolute;
            overflow: hidden;
            width: 100%;
            height: 100%;
            cursor: pointer;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        
        .wrapper {
            -webkit-transform: translateZ(-1px);
        }
    }
}

.container {
    display: block;
	background: #fff;
	min-height: 100%;
	position: relative;
	outline: 1px solid rgba(0,0,0,0);
	z-index: 10;
}

.container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0px;
	opacity: 0;
	background: rgba(0,0,0,0.2);
	/* the transition delay of the height needs to be synced with the container transition time */
	-webkit-transition: opacity 0.4s, height 0s 0.5s;
	transition: opacity 0.5s, height 0s 0.5s;
}

.wrapper {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 5px;
}

.component {
	margin: 0 auto;
	width: 60%;
	text-align: justify;
	font-size: 1.5em;
}

.animate .container::after {
    opacity: 1;
    height: 100%;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

/* Outer Nav */
.outer-nav {
	position: absolute;
	height: auto;
	font-size: 2em;
    
    &.vertical {
        top: 50%;
        -webkit-transform: translateY(-30%);
        transform: translateY(-30%);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        
        a {
            display: block;
        }
    }
    
    &.horizontal {
        left: 50%;
        width: 75%;
        max-width: 1000px;
        text-align: center;
        -webkit-transform: translateX(-30%);
        transform: translateX(-30%);
        
        a {
            margin: 15px 20px;
        }
    }
    
    &.left {
        left: 25%;
    }
    
    &.right {
        right: 25%;
    }
    
    &.top {
        top: 25%;
    }
    
    &.bottom {
        bottom: 25%;
    }

    a {
        display: inline-block;
        white-space: nowrap;
        font-weight: 300;
        margin: 0 0 30px 0;
        color: #fff;
        -webkit-transition: color 0.5s;
        transition: color 0.5s;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        
        &:hover {
            color: #ffdccd;
        }
        
        &::before {
            display: inline-block;
            font-family: 'typicons';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            margin-right: 10px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
    }
}

.icon-news::before { content: "\e600" }
.icon-home::before { content: "\e601" }
.icon-image::before { content: "\e602" }
.icon-upload::before { content: "\e603" }
.icon-star::before { content: "\e604" }
.icon-mail::before { content: "\e605" }
.icon-lock::before { content: "\e606" }
.icon-spanner::before { content: "\e103" }
.icon-chart-pie::before { content: "\e607" }

/* Effect Move Left */
.effect-moveleft {
    background: #f4f3f1;
    
    .container {
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        
        &::after {
            background: rgba(255,255,255,0.6);
        }
    }
    
    
    &.animate {
        .container {
            -webkit-transform: translateX(-30%) rotateY(45deg) translateZ(-50px);
            transform: translateX(-30%) rotateY(45deg) translateZ(-50px);
        }
        
        .outer-nav a {
            opacity: 1;
            -webkit-transform: translateX(0) translateZ(0);
            transform: translateX(0) translateZ(0);
            
            &:nth-child(2) {
                -webkit-transition-delay: 0.04s;
                transition-delay: 0.04s;
            }
            
            &:nth-child(3) {
                -webkit-transition-delay: 0.08s;
                transition-delay: 0.08s;
            }
            
            &:nth-child(4) {
                -webkit-transition-delay: 0.12s;
                transition-delay: 0.12s;
            }
            
            &:nth-child(5) {
                -webkit-transition-delay: 0.16s;
                transition-delay: 0.16s;
            }
            
            &:nth-child(6) {
                -webkit-transition-delay: 0.2s;
                transition-delay: 0.2s;
            }
            
            &:nth-child(7) {
                -webkit-transition-delay: 0.24s;
                transition-delay: 0.24s;
            }
        }
    }
    
    .outer-nav a {
        color: #e86a32;
        opacity: 0;
        -webkit-transform: translateX(100px) translateZ(-1000px);
        transform: translateX(100px) translateZ(-1000px);
        -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
        transition: transform 0.5s, opacity 0.5s;
        
        &:hover {
            color: #333;
        }
    }
}

.button-warning {
    color: white;
    border-radius: 4px;
    background: rgb(223, 117, 20); /* this is an orange */
}

