#tasks_container {
    overflow-y: auto;
    
    .task {
        border-top: 20px solid #e86a32;
        border-bottom: 20px solid #e86a32;
        border-left: 1px solid #e86a32;
        border-right: 1px solid #e86a32;
        
        border-radius: 10px;
        
        margin: 10px;
        margin-bottom: 10px;
        
        button {
            float: right;
        }
    }
}