#tasks-view {
    #new_task {
        
    }
    
    #tasks_list {
        display: block;
        position: fixed;
        left: 300px;
        right: 0px;
        top: 110px !important;
        bottom: 0px;
        padding: 5px;
        
        border-top: 1px solid #eee;
    }
}