#tasks-view {
    button#new_task {
        display: block;
        position: fixed;
        top: 60px;
        left: 310px;
        height: 40px;
        width: 150px;
        border: none;
        background-color: #bdc3c7;
    }
    
    input#s_query {
        position: fixed;
        top: 60px;
        right: 100px;
        width: 200px;
        height: 37px;
        
        margin: 0px;
        padding: 0px;
        border: 1px solid #95a5a6;
        
        &:focus {
            outline: none;
        }
    }
    
    button#search_btn {
        position: fixed;
        top: 60px;
        right: 20px;
        width: 81px;
        height: 39px;
        
        border: none;
        background-color: #2ecc71;
        
        &:focus {
            outline: none;
        }
    }
    
    #tasks_list {
        display: block;
        position: fixed;
        left: 300px;
        right: 0px;
        top: 110px !important;
        bottom: 0px;
        border-top: 1px solid #eee;
        
        .task {
            display: block;
            border-bottom: 1px solid #ecf0f1;
            width: 100%;
            
            div {
                display: inline-block;
                width: 100%;
                clear: both;
                margin-top: 5px;
                
                span#t_project {
                    float: left;
                    margin-left: 5px;
                    font-size: 17px;
                    color: darken(#bdc3c7, 3d0%);
                }
                
                button {
                    float: right;
                    display: block;
                    border: none;
                    margin-right: 5px;
                    float: right;
                    width: 20px;
                    height: 20px;
                    background-size: contain;
                    background-color: white; 
                    
                    &#delete_task {
                        background-image: url('../img/del.svg');
                    }
                    
                    &#edit_task {
                        background-image: url('../img/edit.svg');
                    }
                }
            }
            
            h6 {
                margin: 0 5px;
            }
            
            p#t_description {
                display: inline-block;
                margin: 10px 5px;
            }
        }
    }
}