<div id="prj_del_modal" class="pure-modal" tabindex="-1">
    <div class="modal-container">
        <div class="modal-header"></div>
        <div class="modal-content">
            <p>Удалить проект и все дочерние задачи?</p>
            <div style="height: 20px;"></div>
            <button id="prj_btn_delete"
                    type="button"
                    class="pure-button pure-button-primary">
                Удалить
            </button>
            <button id="prj_del_close"
                    type="button"
                    class="pure-button">
                Отмена
            </button>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>