<div class="pure-g-r">
    <div class="pure-u-4-24">
        <a class="pure-button pure-button-primary" id="new_project">
            Новый проект
        </a>
        <div style="height: 20px;"></div>
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading">Проекты</a>
            <ul id="projects_list">
                <li id="all_tasks"><a>Все задачи</a></li>
            </ul>
        </div>
    </div>
    <div class="pure-u-1-24">
    </div>
    <div class="pure-u-18-24">
        <a class="pure-button button-warning" id="new_task">
            Новая задача
        </a>
        <div id="tasks_list" class="nano">
            <div class="nano-content" id="tasks_container">
            </div>
        </div>
    </div>
</div>