<div id="project_modal" class="pure-modal hide" tabindex="-1">
    <div class="modal-container">
        <div class="modal-header"></div>
        <div class="modal-content">
            <form class="pure-form pure-form-stacked">
                <fieldset>
                    <legend>Новый проект</legend>
                    <label for="name">Название</label>
                    <input id="prj_modal_name"
                           class="pure-input-1"
                           type="text"
                           placeholder="Новый проект">
                    <div style="height: 20px;"></div>
                    <button id="prj_modal_save"
                            type="button"
                            class="pure-button pure-button-primary">
                        Сохранить
                    </button>
                    <button id="prj_modal_close"
                            type="button"
                            class="pure-button">
                        Отмена
                    </button>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>