<div id="project_modal" class="pure-modal" tabindex="-1">
    <div class="modal-container">
        <div class="modal-header">
            <%= legend %>
        </div>
        <div class="modal-content">
            <form class="pure-form pure-form-stacked">
                <fieldset>
                    <label for="name">Название проекта</label>
                    <input id="project_name"
                           class="pure-input-1"
                           type="text"
                           value="<%= name %>"
                           placeholder="Название">
                    <span id="project_name_err" class="error" style="display: none;">
                        Необходимо ввести название проекта
                    </span>
                    <label for="color">Цвет</label>
                    <input id="project_color"
                           type="color"
                           class="pure-input-2"
                           value="<%= color %>"
                           placeholder="Цвет">
                    <div class="btn-container">
                        <button id="save"
                                type="button"
                                class="modal-save">
                            Сохранить
                        </button>
                        <button id="close"
                                type="button"
                                class="modal-close">
                            Отмена
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>