<div>
    <span id="t_project"><%= project %></span>
    <button id="delete_task"></button>
    <button id="edit_task"></button>
    <span id="t_created">Создана <%= created %></span>
</div>
<h6>
    <input id="t_done" type="checkbox" <%= done %> />&nbsp;
    <span id="t_name"><%= name %></span>
    <span id="toggle_details">Подробнее</span>
</h6>
<div id="t_details" style="display: none;">
    <span id="t_datetime"><%= taskDatetime %></span>
    <p id="t_description"><%= description %></p>
</div>