<div id="task_modal" class="pure-modal" tabindex="-1">
    <div class="modal-container">
        <div class="modal-header">
            Новая задача
        </div>
        <div class="modal-content">
            <form class="pure-form pure-form-stacked">
                <fieldset>
                    
                    <label for="task_name">Название</label>
                    <input id="task_name"
                           class="pure-input-1"
                           type="text"
                           placeholder="Название">
            
                    <label for="description">Описание</label>
                    <textarea id="description" class="pure-input-1"></textarea>
            
                    <label for="done" class="pure-checkbox">
                        <input id="done" type="checkbox"> Выполнено
                    </label>
                    <div class="btn-container">
                        <button id="task_modal_save"
                                type="button"
                                class="modal-save">
                            Сохранить
                        </button>
                        <button id="task_modal_close"
                                type="button"
                                class="modal-close">
                            Отмена
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>