<div id="task_modal" class="pure-modal" tabindex="-1">
    <div class="modal-container">
        <div class="modal-header"><%= legend %></div>
        <div class="modal-content">
            <form class="pure-form pure-form-stacked">
                <fieldset>
                    <label id="task_project">Проект</label>
                    <select id="task_project_id" class="pure-input-1">
                        <option value="">Вне проекта</option>
                        <% projects.forEach(function(project) { %>
                        <option value="<%= project.get('id') %>">
                            <%= project.get("name") %>
                        </option>
                        <% }); %>
                    </select>
                    
                    <label for="task_name">Название</label>
                    <input id="task_name"
                           class="pure-input-1"
                           type="text"
                           value="<%= name %>"
                           placeholder="Название">
                    <span id="task_name_err" class="error" style="display: none;">
                        Необходимо ввести наименование задачи
                    </span>
                    
                    <details id="task_calendar">
                        <summary>Добавить в календарь</summary>
                        <div class="calendar-block">
                            <input type="date" name="start_date" list />
                            <input type="time" name="start_time" />
                            <span>&nbsp;&#8211;&nbsp;</span>
                            <input type="date" name="end_date" list />
                            <input type="time" name="end_time" />
                        </div>
                        <label class="pure-checkbox">
                            <input type="checkbox" name="whole_day"> На весь день
                        </label>
                    </details>
            
                    <label for="description">Описание</label>
                    <textarea id="description" class="pure-input-1"><%= description %></textarea>
                    
                    <% if (create !== true) { %>
                    <label for="done" class="pure-checkbox">
                        <input id="done" type="checkbox" <%= done %> > Выполнено
                    </label>
                    <% } %>
                    <div class="btn-container">
                        <button id="task_modal_save"
                                type="button"
                                class="modal-save">
                            Сохранить
                        </button>
                        <button id="task_modal_close"
                                type="button"
                                class="modal-close">
                            Отмена
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>